* {

}

body {

}

/* apply styles to <header> STARTS*/

header {
    background-color: lavender;
    display: flex;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    padding: 0 30px 0 0;
}


header a {
    text-decoration: none;
    color: teal;
}

header nav {
    margin: 10px auto;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    font-weight: bold;
    font-size: 20px;
    color: teal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    padding: 0px 50px 0 50px;
}
/*
header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* apply styles to <header> ENDS */
.name-picture{
    background-image: url("images/hand-painted-watercolor.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
}

.name {
    margin: 20px auto;
    position: absolute;
}

h1 {
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: black;
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.name-picture img {
    width: 30%;
    justify-content: flex-end;
    position: absolute;

}

/* project section STARTS */

/* project section ENDS */

/* contact section STARTS */

.contact {

}

.contact img {
    width: 50px;
    display: inline;

}

/* contact section ENDS */